* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: IM Fell Double Pica
}

@font-face {
    font-family: "IM Fell Double Pica";
    src: url('/Assets/font/IMFellDoublePica-Regular.ttf');
}

body {

    background-color: black;
    overflow-x: hidden;
}

nav {
    display: flex;
    top: 0;
    background-color: black;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    position: fixed;
    border-bottom: 1px solid whitesmoke;
    height: 5vh;
    z-index: 50;
}

.nav-left a {
    font-weight: 500;
    margin-left: 1vw;
    font-size: max(3.3vw, 20px);
    text-shadow: 2px 2px 5px #FF0000;
    text-decoration: none;
}

.nav-right {
    display: flex;
    justify-content: space-around;
    margin-right: 1vw;
}

.nav-right a {
    font-size: max(1.5vw, 14px);
    margin-right: 3vw;
    text-decoration: none;
}

.nav-right a:hover {
    color: rgb(250, 91, 91);
}
.content-container{

    display: flex;
    flex-direction: column;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 40%, rgb(177, 137, 137) 100%);
    padding: 20vh 0 10vh;
    min-height: 95vh;
    width: 100%;
    overflow-y: auto;
    align-items: center;
    gap: 5vh;
}

.event-card-container{

    border-radius: 10px;
    background-color: white;
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 45vh;
}

.event-card{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.event-image{

    width: 35%;
    height: fit-content;
}

.event-image img{

    width: 100%;
    height: 45vh;
}

.event-text{

    display: flex;
    flex-direction: column;
    width: 65%;
    justify-content: space-between;
    height: auto;
    padding: 3vw 4vw;

    word-break: keep-all;
}

.event-text h1{

    font-size: max(2.5vw, 18px);
    color: black;
}

.event-text h3{

    font-size: max(2.5vw, 12px);
    color: black;
}

.event-text-detail{

    width: 80%;
}

.event-text-detail h2{

    font-size: max(1.6vw, 10px);
    font-weight: 500;
    color: black;
    text-align: justify;
}   

footer {
    display: flex;
    width: 100%;
    height: 5vh;
    background-color: black;
    border-top: white 1px solid;
    padding: 1vw 0vw 1vw 0vw;
    justify-content: space-between;
    align-items: center;
}

footer a{
    text-decoration: none;
}


.footer-left {
    font-size: max(2.2vw, 14px);
    padding-left: 2vw;
    
}

.footer-middle {
    display: flex;
    gap: 2vw;
    margin-right: 4vw;
    align-items: center;
    justify-content: center;
}

.footer-middle img{

    width: 100%;
    height: max(1vw,12px);
}

.footer-right {
    font-size: max(1.5vw, 12px);
    padding-right: 2vw;
}

.footer-right a:hover {
    color: rgb(250, 91, 91);
}


@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        height: fit-content;
        
    }
    .nav-left{
        margin: 0
    }
    .nav-right {
        flex-direction: column;
        margin: 2vh 0;
        gap: 2vh
    }
    .content-container{
        padding-top: 30vh;
    }
    .event-card-container{
        height: 20vh;
    }
    .event-image img{
        height: 20vh;
    }
}